name: Cron - run combined test(Alk, Ca, Mg)

on:
  schedule:
    - cron: "2 6 * * *"


jobs:
  run-combined-test:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v3

      - name: Check if secrets exist
        run: |
          if [ "${{ secrets.USERNAME }}" == "" ]; then
            echo "USERNAME secret is not exist or empty"
            echo "Please verify it in https://github.com/$GITHUB_REPOSITORY/settings/secrets/actions"
            exit 1
          fi
          if [ "${{ secrets.PASSWORD }}" == "" ]; then
            echo "PASSWORD secret is not exist or empty"
            echo "Please verify it in https://github.com/$GITHUB_REPOSITORY/settings/secrets/actions"
            exit 1
          fi

      - name: Run cypress
        run: |
          docker run --rm \
                 -e CYPRESS_username=${{ secrets.USERNAME }} \
                 -e CYPRESS_password=${{ secrets.PASSWORD }} \
                 --workdir /e2e \
                 -v "$GITHUB_WORKSPACE":"/e2e" \
                 cypress/included:7.3.0 --spec "cypress/integration/trident-combined.js" --config video=false

      - uses: gautamkrishnar/keepalive-workflow@v1
